/* Registration -> Tabs -> Navigation */

#registrationTable .ui-tabs-nav li a {
	text-decoration: none;
	cursor: pointer;
}

#registrationTable .ui-tabs-nav li a:hover,
#registrationTable .ui-tabs-nav li a:focus,
#registrationTable .ui-tabs-nav li a:active {
	text-decoration: none;
}

/* Registration -> Steps -> Navigation */

#registrationTable .tabs-nav {
	margin-top: 10px;
}

/* Registration -> Steps -> Navigation -> Left */

#registrationTable .tabs-nav .tabs-nav-left {
	display: block;
	float: left;
	text-align: left;
	width: 50%;
}

#registrationTable .tabs-nav .tabs-nav-left input {
	cursor: pointer;
}

/* Registration -> Steps -> Navigation -> Right */

#registrationTable .tabs-nav .tabs-nav-right {
	display: block;
	float: right;
	text-align: right;
	width: 50%;
}

#registrationTable .tabs-nav .tabs-nav-right input {
	cursor: pointer;
}