/* Style for a block - TABLE */
.mtable {
	border: 0px none #E88F04;
	border-collapse: collapse;
	background: ;
	font: 14px Arial, verdana;	
}
/* Style for outer tag, mout (mouse out) state */
.mouter {
	background: ;
	border-top-width: 0px;
	border-collapse: collapse;
	background:;
}
/* Style for inner tag, mover (mouse over) state */
.minner {
	border-top-width: 0px;
	font: 14px Arial, verdana;
	color: #FFFFFF;
	padding: 4px;
	text-align: left;
}

/* rollover effect for blue menu */
.m1table2 {
	border-top-width: 0px;
}
.m1out2 {
	background: #004684;
	border-top-width: 0px;
}
.m1over2 {
	background: #0E60A8;
border: 0px;
}



/* item text */
.minner2 {
	font: 12px Arial, verdana;
	color: #FFFFFF;
	padding: 4px;
}
