#some-div {
	display: none;

}

#sbb {
	height:24px;
}

body {   background-repeat: no-repeat; padding: 0;  margin: 0;  } 

.body {font-size: 12px; color: #000000; font-family:Arial, Helvetica, sans-serif;}
.body A {font-size: 12px; color: #C9030C; font-family: Arial, Helvetica, sans-serif; text-decoration: underline}
.body A:visited {font-size: 12px; color: #C9030C; font-family: Arial, Helvetica, sans-serif; text-decoration:underline}
.body A:hover {font-size: 12px; color: #C9030C; font-family: Arial, Helvetica, sans-serif; text-decoration: underline}

.title {font-size: 20px; color: #004684; font-weight: bold; font-family:Arial, Helvetica, sans-serif;}

.footer {font-size: 10px; color: #000000; font-family: Arial, Helvetica, sans-serif;line-height: 15px;}
.footer A {font-size: 10px; color: #000000; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}
.footer A:visited {font-size: 10px; color: #000000; font-family: Arial, Helvetica, sans-serif; text-decoration:none}
.footer A:hover {font-size: 10px; color: #C9030C; font-family: Arial, Helvetica, sans-serif; text-decoration: none}

.banner_login {font-size: 11px; color: #FFFFFF; font-family:Arial, Helvetica, sans-serif;}
.banner_login A {font-size: 11px; color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}
.banner_login A:visited {font-size: 11px; color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; text-decoration:none}
.banner_login A:hover {font-size: 11px; color: #C9030C; font-family: Arial, Helvetica, sans-serif; text-decoration: none}

input {font-size:10px; height:16px; color: #45521A; background: #E4F0FC; border: 1px solid #45521A; padding: 2px;}
select {font-size:10px; height:22px; color: #45521A; background: #E4F0FC; border: 1px solid #45521A; padding: 2px;}
textarea {font-size:12px; height:50px; color: #45521A; background: #E4F0FC; border: 1px solid #45521A; padding: 2px;}