@charset "utf-8";

/*
@media only screen and (max-width: 449px){}
@media only screen and (min-width: 450px) and (max-width: 599px){}
@media only screen and (min-width: 600px) and (max-width: 779px){}
@media only screen and (min-width: 800px) and (max-width: 1099px){}
@media only screen and (min-width: 1100px){}
*/

.list-block{
	overflow: ;
}

.list-block h1#title{
	display: inline-block;
}

.list-block #list-type{
	float: right;
	font-size: 20px;
}

.list-block #list-type a{
	color: #ccc;
	margin-left: 5px;
}

.list-block #list-type a:hover,
.list-block #list-type a#act{
	color: #000;
}

.list-block .list-ul,
.accman-content .list-ul{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: ;
}

.list-block .list-ul li,
.home-featured-list li,
.accman-content .list-ul li{
	border-radius: 8px 8px 2px 2px;
	box-shadow: 0 0 3px 1px #ddd;
	display: inline-block;
	margin: 2% 0% 5% 0%;
	min-height: 100px;
	padding: 0%;
	position: relative;
	overflow: hidden;
	vertical-align: top;
	width: 100%;
}

.list-block .list-ul li:hover,
.home-featured-list li:hover,
.accman-content .list-ul li:hover{
	box-shadow: 0 0 10px 2px #ddd;
}

.list-block .list-ul li section,
.home-featured-list li section,
.accman-content .list-ul li section{
	display: inline-block;
	vertical-align: top;
}

.accman-content .list-ul li article{
	border: none;
}

.accman-content .list-ul li.listed-offer-cnt{
	background-color: #00B8E6;
	color: #fff;
}

.accman-content .list-ul li.listed-offer-cnt h2{
	color: rgba(255,255,255,.7);
}

.accman-content .list-ul li.listed-offer-cnt #offer-count{
	font-size: 80px;
	text-align: center;
}





.list-block .list-ul li section.photo,
.home-featured-list li section.photo,
.accman-content .list-ul li section.photo{
	margin-right: 2%;
	text-align: center;
	width: 100%;
}

.list-block .list-ul li section.photo #item-photo,
.home-featured-list li section.photo #item-photo,
.accman-content .list-ul li section.photo #item-photo{
	background: #eee center center;
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 4px 4px 0 0;
	overflow: hidden;
	padding: 0 !important;
	height: 55vw;
	width: 100%;
}

.list-block .list-ul li section.item-desc,
.home-featured-list li section.item-desc,
.accman-content .list-ul li section.item-desc{
	height: ;
	width: 100%;
}

.list-block .list-ul li section.item-desc .item-title-loc,
.home-featured-list li section.item-desc .item-title-loc,
.accman-content .list-ul li section.item-desc .item-title-loc{
	min-height: ;
	margin: 0px;
	padding: 10px;
	position: relative;
}

.list-block .list-ul li section.item-desc .item-title-loc #item-title,
.home-featured-list li section.item-desc .item-title-loc #item-title,
.accman-content .list-ul li section.item-desc .item-title-loc #item-title{
	color: #000;
	display: block;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 2px;
	height: 44px;
}

.list-block .list-ul li section.item-desc .item-title-loc #item-title:hover,
.home-featured-list li section.item-desc .item-title-loc #item-title:hover,
.accman-content .list-ul li section.item-desc .item-title-loc #item-title:hover{
	color: #FF820A;
}

.list-block .list-ul li section.item-desc .item-title-loc #item-loc,
.home-featured-list li section.item-desc .item-title-loc #item-loc,
.accman-content .list-ul li section.item-desc .item-title-loc #item-loc{
	color: #aaa;
	font-size: 11px;
	text-transform: capitalize;
}

.list-block .list-ul li section.item-desc .item-title-loc #actVal,
.home-featured-list li section.item-desc .item-title-loc #actVal,
.accman-content .list-ul li section.item-desc .item-title-loc #actVal{
	font-size: 13px;
	color: #00B8E6;
}




@media only screen and (min-width: 400px) and (max-width: 770px){

	.list-block .list-ul li section.photo,
	.home-featured-list li section.photo,
	.accman-content .list-ul li section.photo{
		margin-right: 2%;
		text-align: center;
		width: 100%;
	}

	.list-block .list-ul li section.photo #item-photo,
	.home-featured-list li section.photo #item-photo,
	.accman-content .list-ul li section.photo #item-photo{
		background-repeat: no-repeat;
		height: 28vw;
	}
}

@media only screen and (min-width: 400px) and (max-width: 770px){
}


@media only screen and (min-width: 771px) and (max-width: 1030px){

	.list-block .list-ul li section.photo,
	.home-featured-list li section.photo,
	.accman-content .list-ul li section.photo{
		margin-right: 2%;
		text-align: center;
		width: 100%;
	}

	.list-block .list-ul li section.photo #item-photo,
	.home-featured-list li section.photo #item-photo,
	.accman-content .list-ul li section.photo #item-photo{
		background-repeat: no-repeat;
		height: 15vw;
	}
}

@media only screen and (min-width: 1031px){

	.list-block .list-ul li section.photo,
	.home-featured-list li section.photo,
	.accman-content .list-ul li section.photo{
		margin-right: 2%;
		text-align: center;
		width: 100%;
	}

	.list-block .list-ul li section.photo #item-photo,
	.home-featured-list li section.photo #item-photo,
	.accman-content .list-ul li section.photo #item-photo{
		background-repeat: no-repeat;
		height: 11vw;
	}
}



.list-block .list-ul li  .item-wanted,
.home-featured-list li .item-wanted,
.accman-content .list-ul li .item-wanted,
ul.details-ul li .item-wanted{
	background-color: #eee;
	border-radius: 0 0 2px 2px;
	margin: 0 0 0 0;
	padding: 0 0 2px 0;
	text-align: center;
	width: 100%;
}

.list-block .list-ul li  .item-wanted strong,
.home-featured-list li  .item-wanted strong,
.accman-content .list-ul  .item-wanted strong,
ul.details-ul li .item-wanted strong{
	clear: both;
	color: #888;
	display: block;
	font-size: 10px;
	font-weight: 500;
	margin-top: 5px;
	padding-top: 2px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	width: 100%;
}

ul.details-ul li .item-wanted strong{
	font-size: 12px;
}

.list-block .list-ul li .item-wanted span,
.home-featured-list li .item-wanted span,
.accman-content .list-ul li .item-wanted span,
ul.details-ul li .item-wanted span{
	background-color: #fff;
	/*border: 1px solid #ddd;*/
	border-radius: 3px;
	box-shadow: 0 0 5px -3px #000;
	display: block;
	font-size: 12px;
	margin: 3px 4px;
	padding: 4px 5px;
	position: relative;
	overflow: ;
	text-align: left;
	vertical-align: top;
	height: 20px;
	width: auto;
}

ul.details-ul li .item-wanted span{
	font-size: inherit;
}

.list-block .list-ul li .item-wanted span em,
.home-featured-list li .item-wanted span em,
.accman-content .list-ul li .item-wanted span em,
ul.details-ul li .item-wanted span em{
	background-color: #FF820A;
	border-radius: 2px;
	color: #fff;
	font-size: 12px;
	font-style: normal;
	padding: 1px 2px;
	position: absolute;
	top: 4px;
	right: 4px;
	width: 18px;
	z-index: 999999999;
}

@media only screen and (min-width: 400px) and (max-width: 600px){

	.list-block .list-ul li,
	.home-featured-list li,
	.accman-content .list-ul li{
		margin: 1% 2% 2% 2%;
		min-height: 150px;
		padding: 0%;
		width: 48.2%;
	}

	.list-block .list-ul li:nth-child(1n),
	.home-featured-list li:nth-child(1n),
	.accman-content .list-ul li:nth-child(1n){
		margin-left: 0 !important;
	}

	.list-block .list-ul li:nth-child(2n),
	.home-featured-list li:nth-child(2n),
	.accman-content .list-ul li:nth-child(3n){
		margin-right: 0 !important;
	}
}

@media only screen and (min-width: 601px) and (max-width: 770px){

	.list-block .list-ul li,
	.home-featured-list li,
	.accman-content .list-ul li{
		margin: 1% 2% 2% 2%;
		min-height: 150px;
		padding: 0%;
		width: 31.3%;
	}

	.list-block .list-ul li:nth-child(1n),
	.home-featured-list li:nth-child(1n),
	.accman-content .list-ul li:nth-child(1n){
		margin-left: 0 !important;
	}

	.list-block .list-ul li:nth-child(3n),
	.home-featured-list li:nth-child(3n),
	.accman-content .list-ul li:nth-child(3n){
		margin-right: 0 !important;
	}
}


@media only screen and (min-width: 771px) and (max-width: 1030px){

	.list-block .list-ul li,
	.home-featured-list li,
	.accman-content .list-ul li{
		margin: 1% 2% 2% 2%;
		min-height: 150px;
		width: 23%;
	}

	.list-block .list-ul li:nth-child(1n),
	.home-featured-list li:nth-child(1n),
	.accman-content .list-ul li:nth-child(1n){
		margin-left: 0 !important;
	}

	.list-block .list-ul li:nth-child(4n),
	.home-featured-list li:nth-child(4n),
	.accman-content .list-ul li:nth-child(4n){
		margin-right: 0 !important;
	}
}

@media only screen and (min-width: 1031px){

	.list-block .list-ul li,
	.home-featured-list li,
	.accman-content .list-ul li{
		margin: 1% 2% 2% 2%;
		min-height: 150px;
		width: 18%;
	}

	.list-block .list-ul li:nth-child(1n),
	.home-featured-list li:nth-child(1n),
	.accman-content .list-ul li:nth-child(1n){
		margin-left: 0 !important;
	}

	.list-block .list-ul li:nth-child(5n),
	.home-featured-list li:nth-child(5n),
	.accman-content .list-ul li:nth-child(5n){
		margin-right: 0 !important;
	}

}






.pagination-nav{
	clear: both;
	display: block;
	font-size: 12pt;
	margin-top: 3%;
	text-align: center;
}

.pagination-nav a{
	border: 1px solid #ddd;
	color: #000;
	display: inline-block;
	padding: 2px 0;
	width: 25px;
}

.pagination-nav a:hover,
.pagination-nav a#act{
	background-color: #FF820A;
	border: 1px solid #FF820A;
	color: #fff;
}

.pagination-nav a.fa{
	border: none;
}

.pagination-nav a.fa:hover{
	background-color: transparent;
	color: #FF820A;
}



/* details page */
.list-block .details-ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-block .details-ul li{
	min-height: 600px;
	position: relative;
}

.list-block .details-ul li.left-col{
	padding: 2% 2% 2% 0%;
	width: 100%;
}

.list-block .details-ul li.left-col sup{
	background-color: #f00;
	border-radius: 2px;
	color: #fff;
	font-size: 9pt;
	font-weight: normal;
	padding: 3px 6px;
	position: relative;
	left: -6px;
	top: 0;

	visibility: hidden;
}


.list-block .details-ul li.left-col .details-list-date{
	color: #999;
	font-size: 8pt;
	margin-bottom: 5px;
}

.list-block .details-ul li.left-col .offer-pics{
	background: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 4px;
	height: 65vw;
	width: 100%;
	overflow: hidden;

	background-color: #eee
}

.list-block .details-ul li.left-col .details-thumbs{
	margin-top: 10px;
	overflow: hidden;
}

.list-block .details-ul li.left-col .details-thumbs img{
	height: 30px;
}

.list-block .details-ul li.left-col .details-desc{
	display: block;
	margin: 30px 0 50px 0;
}

.list-block .details-ul li.left-col h2#cap{
	font-size: 11px !important;
	text-transform: uppercase;
}

.list-block .details-ul li.left-col .trader-contact{
	border-bottom: 1px dotted #ddd;
	padding: 30px 0;
}

.list-block .details-ul li.left-col .trader-contact h1{
	font-size: 30px;
}

.list-block .details-ul li.left-col .trader-contact h3{
	color: #888;
	font-weight: bold;
}


/* make offer */
.list-block .details-ul li.right-col{
	padding: 2% 0% 2% 2%;
	width: 98%;
}

.list-block .details-ul li.right-col .details-trader-name{
	border-bottom: 1px dotted #ddd;
	margin-bottom: 10px;
	padding: 0 0 10px 0;
	overflow: hidden;
}

.list-block .details-ul li.right-col .details-trader-name a{
	color: #000;
	font-size: ;
	font-weight: 600;
}

.list-block .details-ul li.right-col .details-trader-name a:hover{
	color: #FF820A;
}

.list-block .details-ul li.right-col .details-trader-name a.fa{
	font-weight: normal;
}

.list-block .details-ul li.right-col .details-trader-name #trader-pic,
.list-block .details-ul li.right-col .details-offers #trader-pic{
	background-color: #eee;
	border-radius: 100%;
	float: left;
	margin-right: 10px;
	height: 40px;
	width: 40px;
}

.list-block .details-ul li.right-col .details-trader-name .links{
	clear: both;
	font-size: 9pt;
	margin-top: 15px;
}

.list-block .details-ul li.right-col .details-trader-name .links a{
	background-color: #ddd;
	display: inline-block;
	font-weight: normal;
	padding: 5px 10px;
}

.list-block .details-ul li.right-col .details-trader-name .links a:hover{
	background-color: #000;
	color: #fff;
}



/* contact details */
.list-block .details-ul li.right-col .contact-info,
.list-block .details-ul li.left-col .contact-info{
	border-bottom: 1px dotted #ddd;
	padding-bottom: 10px;
}

.list-block .details-ul li.right-col .contact-info a,
.list-block .details-ul li.left-col .contact-info a{
	background-color: #000;
	border-radius: 2px;
	color: #fff;
	display: block;
	margin-top: 10px;
	padding: 10px 20px;
	text-align: center;
}

.list-block .details-ul li.right-col .contact-info a:hover,
.list-block .details-ul li.left-col .contact-info a:hover{
	background-color: #FF820A;
}



/* statistics */
.list-block .details-ul li.right-col .stats,
li.left-col .stats{
	border-bottom: 1px dotted #ddd;
	font-size: 16pt;
	padding: 10px 0;
}

.list-block .details-ul li.right-col .stats span,
li.left-col .stats span{
	margin-right: 10px;
}

.list-block .details-ul li.right-col .stats span#share,
li.left-col .stats span#share{
	font-size: 16px;
	float: right;
	margin: 5px 0 0;
}

.list-block .details-ul li.right-col .stats span a:hover,
li.left-col .stats span a:hover{
	color: #FF820A;
}

.list-block .details-ul li.right-col .stats span#share a .fa,
li.left-col .stats span#share a .fa{
	margin: 0 5px;
}

.list-block .details-ul li.right-col .stats span sub,
li.left-col .stats span sub{
	font-size: 10pt;
}



/* actual value */
.list-block .details-ul li.right-col .details-actual-value,
li.left-col .details-actual-value{
	border-bottom: 1px dotted #ddd;
	padding: 10px 0;
	position: relative;
}

.list-block .details-ul li.right-col .details-actual-value h2,
li.left-col .details-actual-value h2{
	background-color: #000;
	color: #fff;
	display: inline-block;
	font-size: 9pt;
	font-weight: normal;
	margin: 0;
	padding: 5px 8px;
	position: relative;
}

.list-block .details-ul li.right-col .details-actual-value h2 .fa-caret-right,
li.left-col .details-actual-value h2 .fa-caret-right{
	color: #000;
	font-size: 34pt;
	position: absolute;
	right: -14px;
	top: -10px;
}

.list-block .details-ul li.right-col .details-actual-value div#val,
li.left-col .details-actual-value div#val{
	font-size: 16pt;
	font-weight: 500;
	text-align: right;
	position: absolute;
	right: 0;
	top: 9px;
}

li.left-col .details-actual-value div#val{
	position: relative;
	left: 15px;
	top: 3px;
	display: inline-block;
}



/* details wanted */
.list-block .details-ul li.right-col .details-wanted,
.list-block .details-ul li.right-col .details-offers{
	padding: 10px 0;
}

.list-block .details-ul li.right-col .details-wanted ul,
.list-block .details-ul li.right-col .details-offers ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

.list-block .details-ul li.right-col .details-wanted ul li,
.list-block .details-ul li.right-col .details-offers ul li{
	border-bottom: 1px dotted #ddd;
	float: none;
	display: block;
	min-height: 50px;
	padding: 10px 0;
	position: relative;
}

.list-block .details-ul li.right-col .details-wanted ul li *,
.list-block .details-ul li.right-col .details-offers ul li article{
	display: inline-block;
	vertical-align: top;
}

.list-block .details-ul li.right-col .details-wanted ul li h3,
.list-block .details-ul li.right-col .details-offers ul li h3{
	font-size: 10.5pt;
	font-weight: 500;
}

.list-block .details-ul li.right-col .details-wanted ul li .pic-holder,
.list-block .details-ul li.right-col .details-offers ul li .pic-holder{
	border-radius: 2px;
	margin-right: 5px;
	height: 70px;
	width: 70px;

	background-color: #eee
}

.list-block .details-ul li.right-col .details-wanted ul li #make-offer,
.list-block .details-ul li.right-col .details-offers ul li #details-btn{
	background-color: #eee;
	border-radius: 2px;
	font-size: 9pt;
	position: absolute;
	right: 0;
	bottom: 10px;
	padding: 5px 10px;
}

.list-block .details-ul li.right-col .details-wanted ul li #make-offer:hover,
.list-block .details-ul li.right-col .details-wanted ul li #make-offer#offered,
.list-block .details-ul li.right-col .details-offers ul li #details-btn:hover{
	background-color: #FF820A;
	color: #fff;
}



/* details right advert */
.list-block .details-ul li.right-col .detials-right-advert{
	margin: 10px 0;
	min-height: 200px;
	text-align: right;
	text-transform: uppercase;
	overflow: hidden;


	background-color: #eee;
}

.list-block .details-ul li.right-col .detials-right-advert h6{}



/* list of offer */
.list-block .details-ul li.right-col .details-offers,
.list-block .details-ul li.right-col .details-offers ul{
	min-height: 200px;
	max-height: 500px;
}

.list-block .details-ul li.right-col .details-offers ul{
	overflow: auto;
}

.list-block .details-ul li.right-col .details-offers #trader-info{
	display: block;
	font-size: 8pt;
	overflow: hidden;
}

.list-block .details-ul li.right-col .details-offers #trader-info{
	color: #888;
}

.list-block .details-ul li.right-col .details-offers #trader-info:hover{
	color: #000;
}

.list-block .details-ul li.right-col .details-offers #trader-info h4{
	font-weight: bold;
}

.list-block .details-ul li.right-col .details-offers #trader-pic{
	margin-right: 5px;
	height: 30px;
	width: 30px;
}

.list-block .details-ul li.right-col .details-offers ul li h3{
	min-height: 40px;
}

.list-block .details-ul li.right-col .details-offers ul li #details-btn{}



@media only screen and (min-width: 600px){

	.list-block .details-ul li{
		float: left;
		min-height: 600px;
		position: relative;
	}

	.list-block .details-ul li.left-col{
		padding: 2% 2% 2% 0%;
		width: 68%;
	}

	.list-block .details-ul li.left-col .offer-pics{
		height: 500px;
		width: 100%;
	}

	.list-block .details-ul li.left-col .details-thumbs img{
		height: 50px;
	}



	/* make offer */
	.list-block .details-ul li.right-col{
		padding: 2% 0% 2% 2%;
		width: 28%;
	}

	.list-block .details-ul li.right-col .details-trader-name{
		border-bottom: 1px dotted #ddd;
		margin-bottom: 10px;
		padding: 0 0 10px 0;
		overflow: hidden;
	}



	/* contact details */



	/* statistics */
	


	/* actual value */



	/* details wanted */



	/* details right advert */
	


	/* list of offer */


}






/* pagination */
ul.pagination{
	display: block;
	text-align: center;
}

ul.pagination li{
	background: transparent;
	display: inline-block;
	font-size: 12px;
	margin: 0;
	text-align: center;
	width: auto;
	vertical-align: middle;
}

ul.pagination li.active span{
	border: 1px solid #000;
	border-radius: 4px;
	display: inline-block;
	padding: 3px 0;
	width: 25px;
}

ul.pagination li a{
	border: 1px solid #ddd;
	border-radius: 4px;
	color: #000;
	display: inline-block;
	padding: 3px 0;
	width: 25px;
}

ul.pagination li.active span{
	background-color: #aaa;
	border: 1px solid #aaa;
	color: #fff;
}

ul.pagination li a:hover{
	background-color: #FF820A;
	border: 1px solid #FF820A;
	color: #fff;
}

ul.pagination li a[rel="next"],
ul.pagination li a[rel="prev"],
ul.pagination li.disabled{
	border: none;
	border-radius: 4px;
	font-size: 18pt;
	padding: 0px 0px 8px 0 !important;
	display: inline-block;
	width: 25px;
}

ul.pagination li a[rel="next"]:hover,
ul.pagination li a[rel="prev"]:hover{
	background: transparent;
	color: #FF820A;
}


ul.pagination li.disabled{
	color: #ddd;
}