@charset "utf-8";

/*
#FF820A
#F07800
#00B8E6 - blue
*/
/*
@media only screen and (max-width: 449px){}
@media only screen and (min-width: 450px) and (max-width: 599px){}
@media only screen and (min-width: 600px) and (max-width: 779px){}
@media only screen and (min-width: 800px) and (max-width: 1099px){}
@media only screen and (min-width: 1100px){}
*/

html{
	height: 100%;
	width: 100%;
}

body{
	font-family: "Segoe UI", Arial;
	font-size: 10.5pt;
	height: 100%;
	margin: 0;
	padding: 0;
}


/* declaration */
a{
	cursor: pointer;
	text-decoration: none;
}

a img{
	border: none;
}

a.black-orangeBtn{
	background-color: #000;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	padding: 6px 10px;
}

a.black-orangeBtn:hover{
	background-color: #F07800
}

a.orange-blackBtn{
	background-color: #F07800 !important;
	border-radius: 2px;
	color: #fff !important;
	display: inline-block;
	padding: 6px 10px;
}

a.orange-blackBtn:hover{
	background-color: #000 !important;
}

a.white-blackBtn{
	background-color: #fff;
	border-radius: 2px;
	color: #00B8E6;
	display: inline-block;
	padding: 6px 10px;
}

a.white-blackBtn:hover{
	background-color: #000;
	color: #fff;
}

a.blueBtn{
	color: #00B8E6;
	display: inline-block;
}

a.blueBtn:hover{
	color: #000;
}

h1, h2, h3, h4, h5, h6{
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h1{
	font-size: 16pt;
	font-weight: 500;
	margin-bottom: 5px;
	text-transform: capitalize;
}

h2{
	color: #666;
	font-size: 13pt;
	font-weight: 500;
	margin-bottom: 5px;
	text-transform: capitalize;
}

h2#main-title{
	color: #000;
	font-size: 20pt;
	position: relative;
}


/* main block start */
.main-block{
	min-height: 100vh;
	width: 100%;
}


/* home header */
header.home-header{}


/* top bar */
header.home-header .top-bar{
	background-color: #f8f8f8;
	box-shadow: 0 0 6px -2px #000;
	padding: 10px 6%;
	width: 88%;
}


/* top left content */
header.home-header .top-bar .top-left-content{
	display: inline-block;
	font-size: 11px;
}

header.home-header .top-bar .top-left-content *{
	display: inline-block;
}

header.home-header .top-bar .top-left-content nav.links{
	display: none;
}

@media only screen and (min-width: 450px) {
	header.home-header .top-bar .top-left-content nav.links{
		display: inline-block;
	}
}

header.home-header .top-bar .top-left-content .lang{
	margin-right: 15px;
}

header.home-header .top-bar .top-left-content .lang a{
	background-color: #ddd;
	margin: 0 !important;
	padding: 3px;
}

header.home-header .top-bar .top-left-content .lang a:hover{
	background-color: #aaa;
}

header.home-header .top-bar .top-left-content a{
	color: #666;
	margin: 0 5px;
}

header.home-header .top-bar .top-left-content a:hover{
	color: #000;
}


/* top right content */
header.home-header .top-bar .top-right-content{
	float: right;
}

header.home-header .top-bar .top-right-content *{
	display: inline;
}

header.home-header .top-bar .top-right-content .post-ad-top-btn{
	background-color: #FF820A;
	border-radius: 2px;
	color: #fff;
	margin-right: 10px;
	padding: 6px 10px;
}

header.home-header .top-bar .top-right-content .post-ad-top-btn:hover{
	background-color: #F07800;
}

header.home-header .top-bar .top-right-content .fa{
	color: #333;
	font-size: 16px;
	margin-left: 2px;
	padding: 4px;
}

header.home-header .top-bar .top-right-content .fa:hover{
	color: #000;
}


/* trader manager menu  */
header.home-header .top-bar .top-right-content .traderManagerMenu{
	position: relative;
	display: inline-block;
}

header.home-header .top-bar .top-right-content .traderManagerMenu #uIcon{
	background-color: #e5e5e5;
	border-radius: 14px 2px 2px 14px;
	display: inline-block;
	font-weight: bold;
	padding: 3px;
	text-align: center;
	height: 22px;
	width: ;
}

header.home-header .top-bar .top-right-content .traderManagerMenu:hover #uIcon{
	background-color: #ddd;
	border-radius: 14px 2px 0px 0px;
}

header.home-header .top-bar .top-right-content .traderManagerMenu #uIcon span{
	background-color: #eee;
	border-radius: 50%;
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	height: 22px;
	width: 22px;
}

header.home-header .top-bar .top-right-content .traderManagerMenu:hover #uIcon .fa-caret-down{
	color: #000;
}

header.home-header .top-bar .top-right-content .traderManagerMenu .trdMenu-ul{
	background-color: #e5e5e5;
	border-top: 5px solid #ddd;
	box-shadow: -3px 3px 10px -2px #aaa;
	position: absolute;
	right: 0;
	top: 14px;
	padding: 0;
	width: 140px;
	visibility: hidden;
	z-index: 999999999;
}

header.home-header .top-bar .top-right-content .traderManagerMenu:hover .trdMenu-ul{
	visibility: visible;
}

header.home-header .top-bar .top-right-content .traderManagerMenu .trdMenu-ul li{
	border-bottom: 1px solid #fff;
	display: block;
}

header.home-header .top-bar .top-right-content .traderManagerMenu .trdMenu-ul li a{
	color: #444;
	display: block;
	margin: 0;
	padding: 5px 10px;
}

header.home-header .top-bar .top-right-content .traderManagerMenu .trdMenu-ul li a .fa{
	padding: 0px;
}

header.home-header .top-bar .top-right-content .traderManagerMenu .trdMenu-ul li:hover > a{
	background-color: #ddd;
	color: #000;
}

header.home-header .top-bar .top-right-content .traderManagerMenu .trdMenu-ul li nav a{
	font-size: 13px;
	padding-left: 30px;
}

header.home-header .top-bar .top-right-content .traderManagerMenu .trdMenu-ul li nav a:hover{
	background-color: #bbb;
	color: #fff;
}

header.home-header .top-bar .top-right-content .traderManagerMenu .trdMenu-ul li a#logout{
	background-color: #eee;
	color: #999;
}

header.home-header .top-bar .top-right-content .traderManagerMenu .trdMenu-ul li a#logout .fa{
	color: #999;
}

header.home-header .top-bar .top-right-content .traderManagerMenu .trdMenu-ul li a#logout:hover,
header.home-header .top-bar .top-right-content .traderManagerMenu .trdMenu-ul li a#logout:hover .fa{
	color: #000;
}

header.home-header .top-bar .top-right-content .traderManagerMenu .trdMenu-ul li a#logout:hover{}


/* header block */
header.home-header .header-block{
	padding: 6% 6% 3%;
	width: 88%;
}

@media only screen and (min-width: 400px){
	header.home-header .header-block{
		padding: 3% 6%;
		width: 88%;
	}
}

/* right content*/
header.home-header .header-block .left-content{
	display: inline-block;
	padding: 15px 0;
}

header.home-header .header-block .left-content *{
	display: inline;
}

header.home-header .header-block .left-content nav{
	display: inline;
	margin-right: 5px;
	position: relative;
}

header.home-header .header-block .left-content nav .main-category-menu{
	background-color: #fff;
	box-shadow: 0 0 10px -2px #000;
	position: absolute;
	left: 0;
	top: 11px;
	padding: 10px 15px;
	visibility: hidden;
	width: 140px/*180px*/;
	z-index: 9999999;
}

header.home-header .header-block .left-content nav:hover .main-category-menu{
	visibility: visible;
}

@media only screen and (min-width: 400px){
	header.home-header .header-block .left-content nav .main-category-menu{
		top: 10px;
	}
	/*header.home-header .header-block .left-content nav .main-category-menu{
		visibility: visible;
	}

	header.home-header .header-block .left-content nav .main-category-menu .fa-caret-down{
		color: #ddd !important;
	}

	header.home-header .header-block .left-content nav:hover .main-category-menu .fa-caret-down{
		color: #000 !important;
	}*/
}

header.home-header .header-block .left-content nav .main-category-menu .fa-caret-down{
	color: #000;
	font-size: 35px;
	position: absolute;
	left: 7px;
	top: -14px;
	height: 10px;
	width: 10px;
	z-index: 9;
}

header.home-header .header-block .left-content nav .main-category-menu li{
	display: block;
}

header.home-header .header-block .left-content nav .main-category-menu li a{
	color: #000;
	display: block;
	padding: 4px 0;
}

header.home-header .header-block .left-content nav .main-category-menu li a:hover{
	color: #FF820A;
}

header.home-header .header-block .left-content nav .main-category-menu li a .fa-caret-right{
	color: #ccc;
	float: right;
}

header.home-header .header-block .left-content nav .main-category-menu li a:hover .fa-caret-right{
	color: #000;
}

header.home-header .header-block .left-content nav .fa-navicon{
	border: 1px solid #ddd;
	color: #000;
	display: inline-block;
	font-size: 24px;
	padding: 4px 6px;
}

header.home-header .header-block .left-content nav:hover .fa-navicon{
	background-color: #000;
	border: 1px solid #000;
	color: #FF820A;
}

header.home-header .header-block .left-content #barterbread{
	width: 160px;
}

header.home-header .header-block .left-content #name-link{
	color: #000;
	display: inline-block;
	font-size: 11px;
	position: relative;
}

header.home-header .header-block .left-content #name-link span{
	position: absolute;
	bottom: -12px;
	right: 0;
}


/* right content */
header.home-header .header-block .right-content{
	display: inline;
	float: right;
	margin-top: 4px;
	position: relative;
}

header.home-header .header-block .right-content span{
	display: inline-block;
	margin-left: 3px;
	position: relative;
	text-align: ;
	width: 25px;
}

header.home-header .header-block .right-content span#alert-icon{
	display: none;
}

header.home-header .header-block .right-content .fa{
	font-size: 20px;
}

header.home-header .header-block .right-content sup{
	background-color: #00B8E6;
	border-radius: 4px;
	color: #fff;
	font-family: "Segoe UI", Arial;
	font-size: 11px;
	padding: 0 1px;
	position: absolute;
	top: -2px;
	right: 0px;
}

@media only screen and (min-width: 600px){
	header.home-header .header-block .right-content span{
		padding: 5px 0;
	}

	header.home-header .header-block .right-content sup{
		top: 3px;
	}
}

/* main content block */
.main-content-block{
	min-height: 150vh;
	padding: 0% 6% 3%;
}

.main-content-block .bread-crumbs{
	display: block;
	background-color: #f5f5f5;
	color: #999;
	font-size: 8pt;
	margin-bottom: 3%;
	padding: 2px 5px;
}

.main-content-block .bread-crumbs a{
	color: #000;
}

.main-content-block .bread-crumbs a:hover{
	color: #FF820A;
}

.main-content-block a{
	color: #00B8E6;
}

.main-content-block a:hover{
	color: #000;
}



/* page content holder */
.page-content-holder{
	margin-top: 20px;
}



/* howtos */
.howto-1{
	border: 1px dotted #ddd;
	border-left: none;
	border-right: none;
	color: #FF820A;
	font-size: ;
	font-style: italic;
	font-weight: 500;
	margin: 0 6%;
	padding: 3% 0%;
	text-align: center;
}

.howto-1 .fa{
	margin: 0 4px;
}



/* traders list */
.home-traders-list{
	clear: both;
	display: block;
	padding: 3% 6%;
}

.home-traders-list ul{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.home-traders-list ul li{
	float: left;
	padding: 2%;
	margin: .25% 0;
	min-height: 70px;
	width: 29%;

	background-color: #eee
}

.home-traders-list ul li:nth-child(3n){
	margin-left: .5%;
	margin-right: 0 !important;
}

.home-traders-list ul li:nth-child(1n){
	margin-left: 0 !important;
	margin-right: .5%;
}



/* on page post advert */
.on-page-post-advert{
	background-color: #eee;
	margin: 0% 0%;
	padding: 6%;
	text-align: center;
}

.on-page-post-advert h1{
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 10px;
}

.on-page-post-advert h2{
	font-size: 15px;
	font-style: italic;
	text-transform: none;
}

.on-page-post-advert a{
	background-color: #FF820A;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	margin-right: 10px;
	padding: 10px 10px;
	vertical-align: middle;
}

.on-page-post-advert a:hover{
	background-color: #F07800;
}


@media only screen and (min-width: 600px){
	.on-page-post-advert{
		padding: 3% 6%;
	}

	.on-page-post-advert h1{
		font-size: 30px;
		margin-bottom: 10px;
	}

	.on-page-post-advert h2{
		font-size: 25px;
	}
}


/* howtos */
.howtos{
	background-color: #f9f9f9;
	border-top: 1px dotted #ddd;
	padding: 3% 4% 1% 4%;
	text-align: center;
}

.howtos ul{
	margin: 0 0 0% 0;
	padding: 0;
	list-style: none;
}

.howtos ul li{
	display: inline-block;
	font-size: 12px;
	padding: 0% 2% 1% 0%;
	margin: 1.5% 0%;
	text-align: left;
	vertical-align: top;
	width: 100%;
}

.howtos ul li:nth-child(2n){
	border-top: 1px solid #ddd;
	padding: 3% 0% 3% 0%;
}

.howtos ul li p{ 
	display: inline-block;
	vertical-align: top;
	margin: 2px;
	width: 100%;
}

.howtos article{
	font-weight: 500;
}

.howtos article a{
	color: #FF820A;
	font-size: 16px;
	font-weight: bold;
	text-transform: capitalize;
}

.howtos article a:hover{
	color: #F07800;
}


@media only screen and (min-width: 600px){
	.howtos ul{
		margin: 0 0 0% 0;
		padding: 0;
		list-style: none;
	}

	.howtos ul li{
		display: inline-block;
		font-size: 12px;
		padding: 0% 2% 1% 0%;
		margin: 1.5% 0%;
		text-align: left;
		vertical-align: top;
		width: 45%;
	}

	.howtos ul li:nth-child(2n){
		border-left: 1px solid #ddd;
		border-top: none;
		padding: 0% 0% 1% 2%;
	}

	.howtos ul li p{ 
		display: inline-block;
		vertical-align: top;
		margin: 2px;
		width: 100%;
	}

	.howtos article{
		font-weight: 500;
	}

	.howtos article a{
		color: #FF820A;
		font-size: 16px;
		font-weight: bold;
		text-transform: capitalize;
	}

	.howtos article a:hover{
		color: #F07800;
	}
}





/* sign in / sign up */
.sign-in-up{
	padding: 3% 6%;
	text-align: center;
}


/* footer */
footer{
	background-color: #000;
	color: #aaa;
	padding: 6%;
}

footer ul.col-ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

footer ul.col-ul li{
	display: inline-block;
	margin-bottom: 40px;
	vertical-align: top;
	min-width: 240px;
	width: 100%;
}

footer ul.col-ul li.site-name{
	margin-bottom: 0px;
	width: 24%;
}

footer ul.col-ul li.site-name img{
	border: none;
	margin-bottom: 10px;
}

footer ul.col-ul li.site-name .fa{
	color: #444;
}

footer ul.col-ul li h2{
	color: #444;
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
}

footer ul.col-ul li a{
	color: #ddd;
	display: inline-block;
	font-size: 13px;
	margin: 3px;
}

footer ul.col-ul li a:hover{
	color: #FF820A;
}

footer ul.col-ul li a.orange-blackBtn:hover{
	background-color: #222 !important;
	color: #FF820A !important;
}


footer ul.col-ul li .copyright{
	border-top: 1px solid #111;
	color: #444;
	font-size: 11px;
	margin-top: 10px;
	padding-top: 10px;
	width: 230px;
}

@media only screen and (min-width: 600px){
	footer{
		background-color: #000;
		color: #aaa;
		padding: 3% 6%;
	}

	footer ul.col-ul{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	footer ul.col-ul li{
		display: inline-block;
		margin-bottom: 0;
		vertical-align: top;
		min-width: 240px;
		width: 24.5%;
	}

	footer ul.col-ul li.site-name{
		width: 24%;
	}

	footer ul.col-ul li.site-name img{
		border: none;
		margin-bottom: 10px;
	}

	footer ul.col-ul li.site-name .fa{
		color: #444;
	}

	footer ul.col-ul li h2{
		color: #444;
		font-size: 11px;
		font-weight: 500;
		text-transform: uppercase;
	}

	footer ul.col-ul li a{
		color: #ddd;
		display: inline-block;
		font-size: 13px;
		margin: 3px;
	}

	footer ul.col-ul li a:hover{
		color: #FF820A;
	}

	footer ul.col-ul li a.orange-blackBtn:hover{
		background-color: #222 !important;
		color: #FF820A !important;
	}


	footer ul.col-ul li .copyright{
		border-top: 1px solid #111;
		color: #444;
		font-size: 11px;
		margin-top: 10px;
		padding-top: 10px;
		width: 230px;
	}
}