/* Wednesday 19th of April 2017 06:03:06 PM*/

/* Wednesday 19th of April 2017 06:03:06 PM*/

div#nextend-accordion-menu-526 {
  overflow: hidden;
}
div#nextend-accordion-menu-526 div,
div#nextend-accordion-menu-526 dl,
div#nextend-accordion-menu-526 dt,
div#nextend-accordion-menu-526 dd,
div#nextend-accordion-menu-526 span,
div#nextend-accordion-menu-526 a,
div#nextend-accordion-menu-526 img,
div#nextend-accordion-menu-526 h3 {
  width: auto;
  padding: 0;
  margin: 0;
  border: 0;
  float: none;
  clear: none;
  line-height: normal;
  position: static;
  list-style: none;
}
.dj_ie7 div#nextend-accordion-menu-526 div,
.dj_ie7 div#nextend-accordion-menu-526 dl,
.dj_ie7 div#nextend-accordion-menu-526 dt,
.dj_ie7 div#nextend-accordion-menu-526 dd,
.dj_ie7 div#nextend-accordion-menu-526 h3 {
  width: 100%;
}
div#nextend-accordion-menu-526 span,
div#nextend-accordion-menu-526 a,
div#nextend-accordion-menu-526 img {
  vertical-align: middle;
}
div#nextend-accordion-menu-526 a {
  display: inline-block;
  height: 100%;
  width: 100%;
}
div#nextend-accordion-menu-526 a,
div#nextend-accordion-menu-526 a :focus,
div#nextend-accordion-menu-526 a :active {
  background: none;
  outline: 0;
  -moz-outline-style: none;
}
div#nextend-accordion-menu-526 img {
  margin: 0 4px;
}
div#nextend-accordion-menu-526 dl.level1 dl {
  position: absolute;
  width: 100%;
  top: 0;
}
div#nextend-accordion-menu-526 dl.level1 dd {
  display: block;
  overflow: hidden;
  height: 0px;
  width: 100%;
  margin: 0;
  position: relative;
}
div#nextend-accordion-menu-526 dl.level1 dd.opening,
div#nextend-accordion-menu-526 dl.level1 dd.closing,
div#nextend-accordion-menu-526 dl.level1 dd.opened {
  display: block;
}
div#nextend-accordion-menu-526 dl.level1 dd.parent.opened {
  height: auto;
}
div#nextend-accordion-menu-526 dl.level1 dd.parent.opened > dl {
  position: relative;
}
div#nextend-accordion-menu-526 .nextend-productnum {
  display: inline-block;
  float: right;
  vertical-align: middle;
  margin: -1px 5px 0 5px;
  min-width: 8px;
  padding: 0 8px;
  text-align: center !important;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 9px 9px 9px 9px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2), 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2), 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2), 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.dj_ie6 div#nextend-accordion-menu-526 span.nextend-productnum,
.dj_ie7 div#nextend-accordion-menu-526 span.nextend-productnum {
  float: none;
  display: inline;
  margin: 0 10px;
}
.dj_ie6 div#nextend-accordion-menu-526 span.nextend-productnum,
.dj_ie7 div#nextend-accordion-menu-526 span.nextend-productnum,
.dj_ie8 div#nextend-accordion-menu-526 span.nextend-productnum {
  border: 1px solid #ffffff;
}
div#nextend-accordion-menu-526.noscript dl.level1 dl {
  position: static;
}
div#nextend-accordion-menu-526.noscript dl.level1 dd.parent {
  height: auto !important;
  display: block;
  visibility: visible;
}
div#nextend-accordion-menu-526 {
  margin: 0px 0px 10px 0px;
  overflow: visible;
}
div#nextend-accordion-menu-526 .nextend-accordion-menu-inner {
  overflow: hidden;
  width: 100%;
  -webkit-box-shadow: 0 0 3px #333;
  -moz-box-shadow: 0 0 3px #333;
  box-shadow: 0 0 3px #333;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
div#nextend-accordion-menu-526 dt.level1 .nextend-productnum {
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
  background-color: RGBA(0,0,0,0.2);
}
div#nextend-accordion-menu-526 .nextend-productnum {
  line-height: normal !important;
  font-size: 11px !important;
  padding-top: 1px;
  line-height: 17px !important;
  border: 0;
  margin-top: 1px;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
  background-color: rgba(0,0,0,0.02);
}
div#nextend-accordion-menu-526 .nextend-accordion-menu-inner-container {
  overflow: hidden;
  position: relative;
}
div#nextend-accordion-menu-526 dl,
div#nextend-accordion-menu-526 dt,
div#nextend-accordion-menu-526 dd {
  display: block;
  position: relative;
}
div#nextend-accordion-menu-526 div div.title {
  min-height: 36px;
  background: #3a7428;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#3a7428),color-stop(1,#44892d));
  background: -ms-linear-gradient(bottom,#3a7428,#44892d);
  background: -moz-linear-gradient(center bottom,#3a7428 0%,#44892d 100%);
  background: -o-linear-gradient(#44892d,#3a7428);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44892d', endColorstr='#3a7428', GradientType=0);
}
div#nextend-accordion-menu-526 div div.title h3 {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0;
  padding-top: 8px !important;
  padding-bottom: 5px !important;
  min-height: 26px;
  -webkit-box-shadow: inset 0 0 1px RGBA(255,255,255,0.7);
  -moz-box-shadow: inset 0 0 1px RGBA(255,255,255,0.7);
  box-shadow: inset 0 0 1px RGBA(255,255,255,0.7);
  border: solid 1px RGBA(0,0,0,0.1);
  background: transparent;
  d: ;color: #ffffff;font-size:18px;text-shadow: 0px 0px 1px RGBA(0,0,0,1);font-family: 'Arimo',Arial;line-height: normal;font-weight: bold;font-style: normal;text-decoration: none;text-align: center;;
}
div#nextend-accordion-menu-526 dl.level2 dt.last {
  margin-bottom: 0;
}
div#nextend-accordion-menu-526 dt .inner {
  display: block;
  margin: 0 6px;
}
div#nextend-accordion-menu-526.noscript dl.level1 dt.parent .inner {
  background-image: url(https://barteronly.com/media/nextend/cache/image/n1492624800/colorizedb461c05844cb0e857a574ac697c7853ffffffeb548722.png);
}
div#nextend-accordion-menu-526 dl.level1 dt.parent .inner {
  background-image: url(https://barteronly.com/media/nextend/cache/image/n1492624800/colorize8ccd2da4590457944db9711f68656c10ffffffeb548722.png);
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
}
div#nextend-accordion-menu-526 dl.level1 dt.parent.opened .inner,
div#nextend-accordion-menu-526 dl.level1 dt.parent.opening .inner {
  background-image: url(https://barteronly.com/media/nextend/cache/image/n1492624800/colorizedb461c05844cb0e857a574ac697c7853ffffffeb548722.png);
}
div#nextend-accordion-menu-526 dl.level1 dt {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: none repeat 0 0;
  margin: 4px 4px 0 4px;
}
div#nextend-accordion-menu-526 dl.level1 dt.last {
  margin-bottom: 4px;
}
div#nextend-accordion-menu-526 dl.level1 dt span {
  d: ;color: #ffffff;font-size:13px;text-shadow: 0px 1px 2px RGBA(0,0,0,1);font-family: 'Arimo',Arial;line-height: 20px;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;;
}
div#nextend-accordion-menu-526 dl.level1 dt a,
div#nextend-accordion-menu-526 dl.level1 dt a span {
  d: ;color: #ffffff;font-size:13px;text-shadow: 0px 1px 2px RGBA(0,0,0,1);font-family: 'Arimo',Arial;line-height: 20px;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;;
}
div#nextend-accordion-menu-526 dl.level1 dt,
div#nextend-accordion-menu-526 dl.level1 dt:HOVER,
div#nextend-accordion-menu-526 dl.level1 dt.opening,
div#nextend-accordion-menu-526 dl.level1 dt.opened,
div#nextend-accordion-menu-526 dl.level1 dt.active {
  background: none;
  filter: none;
  background: #453d3b;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#453d3b),color-stop(1,#564c4a));
  background: -ms-linear-gradient(bottom,#453d3b,#564c4a);
  background: -moz-linear-gradient(center bottom,#453d3b 0%,#564c4a 100%);
  background: -o-linear-gradient(#564c4a,#453d3b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#564c4a', endColorstr='#453d3b', GradientType=0);
}
div#nextend-accordion-menu-526 dl.level1 dt .nextend-productnum,
div#nextend-accordion-menu-526 dl.level1 dt:HOVER .nextend-productnum,
div#nextend-accordion-menu-526 dl.level1 dt.opening .nextend-productnum,
div#nextend-accordion-menu-526 dl.level1 dt.opened .nextend-productnum,
div#nextend-accordion-menu-526 dl.level1 dt.active .nextend-productnum {
  background: #453d3b;
}
div#nextend-accordion-menu-526 dl.level1 dt.opening .nextend-productnum,
div#nextend-accordion-menu-526 dl.level1 dt.opened .nextend-productnum {
  background: #579604;
}
div#nextend-accordion-menu-526 dl.level1 dt.opening,
div#nextend-accordion-menu-526 dl.level1 dt.opened {
  background: #579604;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#579604),color-stop(1,#8bd602));
  background: -ms-linear-gradient(bottom,#579604,#8bd602);
  background: -moz-linear-gradient(center bottom,#579604 0%,#8bd602 100%);
  background: -o-linear-gradient(#8bd602,#579604);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8bd602', endColorstr='#579604', GradientType=0);
}
div#nextend-accordion-menu-526 dl.level1 dt.active .nextend-productnum {
  background: #564c4a;
}
div#nextend-accordion-menu-526 dl.level1 dt.active {
  background: #564c4a;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#564c4a),color-stop(1,#6d615f));
  background: -ms-linear-gradient(bottom,#564c4a,#6d615f);
  background: -moz-linear-gradient(center bottom,#564c4a 0%,#6d615f 100%);
  background: -o-linear-gradient(#6d615f,#564c4a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d615f', endColorstr='#564c4a', GradientType=0);
}
div#nextend-accordion-menu-526 dl.level1 dt.active span,
div#nextend-accordion-menu-526 dl.level1 dt.active span span,
div#nextend-accordion-menu-526 dl.level1 dt.active a,
div#nextend-accordion-menu-526 dl.level1 dt.active a span {
  d: ;color: #ffffff;font-size:13px;text-shadow: 0px 1px 2px RGBA(0,0,0,1);font-family: 'Arimo',Arial;line-height: 20px;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;;
}
div#nextend-accordion-menu-526 dl.level1 dt:HOVER .nextend-productnum {
  background: #569801;
}
div#nextend-accordion-menu-526 dl.level1 dt:HOVER {
  background: #569801;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#569801),color-stop(1,#77ba01));
  background: -ms-linear-gradient(bottom,#569801,#77ba01);
  background: -moz-linear-gradient(center bottom,#569801 0%,#77ba01 100%);
  background: -o-linear-gradient(#77ba01,#569801);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77ba01', endColorstr='#569801', GradientType=0);
}
div#nextend-accordion-menu-526 dl.level1 dt:HOVER span,
div#nextend-accordion-menu-526 dl.level1 dt:HOVER span span,
div#nextend-accordion-menu-526 dl.level1 dt:HOVER a,
div#nextend-accordion-menu-526 dl.level1 dt:HOVER a span {
  d: ;color: #ffffff;font-size:13px;text-shadow: 0px 1px 2px RGBA(0,0,0,1);font-family: 'Arimo',Arial;line-height: 20px;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;;
}
div#nextend-accordion-menu-526 dl.level1 .inner {
  padding: 3px 12px 3px 21px ;
  margin: 3px 4px 4px 4px ;
}
div#nextend-accordion-menu-526.noscript dl.level2 dt.parent .inner {
  background-image: url(https://barteronly.com/media/nextend/cache/image/n1492624800/colorizebfc4c74f06fe3237bb1eeca2a3c3fd16ffffffff548722.png);
}
div#nextend-accordion-menu-526 dl.level2 dt.parent .inner {
  background-image: url(https://barteronly.com/media/nextend/cache/image/n1492624800/colorize065118121675f84b0875b855507cb17affffffff548722.png);
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
}
div#nextend-accordion-menu-526 dl.level2 dt.parent.opened .inner,
div#nextend-accordion-menu-526 dl.level2 dt.parent.opening .inner {
  background-image: url(https://barteronly.com/media/nextend/cache/image/n1492624800/colorizebfc4c74f06fe3237bb1eeca2a3c3fd16ffffffff548722.png);
}
div#nextend-accordion-menu-526 dl.level2 dt {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: none repeat 0 0;
  margin: 4px 4px 0 4px;
}
div#nextend-accordion-menu-526 dl.level2 dt.last {
  margin-bottom: 4px;
  margin-bottom: 0;
}
div#nextend-accordion-menu-526 dl.level2 dt span {
  d: ;color: #ffffff;font-size:12px;text-shadow: 1px 1px 1px RGBA(0,0,0,1);font-family: 'Arimo',Arial;line-height: 20px;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;;
}
div#nextend-accordion-menu-526 dl.level2 dt a,
div#nextend-accordion-menu-526 dl.level2 dt a span {
  d: ;color: #ffffff;font-size:12px;text-shadow: 1px 1px 1px RGBA(0,0,0,1);font-family: 'Arimo',Arial;line-height: 20px;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;;
}
div#nextend-accordion-menu-526 dl.level2 dt,
div#nextend-accordion-menu-526 dl.level2 dt:HOVER,
div#nextend-accordion-menu-526 dl.level2 dt.opening,
div#nextend-accordion-menu-526 dl.level2 dt.opened,
div#nextend-accordion-menu-526 dl.level2 dt.active {
  background: none;
  filter: none;
  background: #336622;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#336622),color-stop(1,#447e30));
  background: -ms-linear-gradient(bottom,#336622,#447e30);
  background: -moz-linear-gradient(center bottom,#336622 0%,#447e30 100%);
  background: -o-linear-gradient(#447e30,#336622);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#447e30', endColorstr='#336622', GradientType=0);
}
div#nextend-accordion-menu-526 dl.level2 dt .nextend-productnum,
div#nextend-accordion-menu-526 dl.level2 dt:HOVER .nextend-productnum,
div#nextend-accordion-menu-526 dl.level2 dt.opening .nextend-productnum,
div#nextend-accordion-menu-526 dl.level2 dt.opened .nextend-productnum,
div#nextend-accordion-menu-526 dl.level2 dt.active .nextend-productnum {
  background: #336622;
}
div#nextend-accordion-menu-526 dl.level2 dt.opening .nextend-productnum,
div#nextend-accordion-menu-526 dl.level2 dt.opened .nextend-productnum {
  background: #3d3635;
}
div#nextend-accordion-menu-526 dl.level2 dt.opening,
div#nextend-accordion-menu-526 dl.level2 dt.opened {
  background: #3d3635;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#3d3635),color-stop(1,#4c4141));
  background: -ms-linear-gradient(bottom,#3d3635,#4c4141);
  background: -moz-linear-gradient(center bottom,#3d3635 0%,#4c4141 100%);
  background: -o-linear-gradient(#4c4141,#3d3635);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4141', endColorstr='#3d3635', GradientType=0);
}
div#nextend-accordion-menu-526 dl.level2 dt.active .nextend-productnum {
  background: #44892d;
}
div#nextend-accordion-menu-526 dl.level2 dt.active {
  background: #44892d;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#44892d),color-stop(1,#3baa16));
  background: -ms-linear-gradient(bottom,#44892d,#3baa16);
  background: -moz-linear-gradient(center bottom,#44892d 0%,#3baa16 100%);
  background: -o-linear-gradient(#3baa16,#44892d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3baa16', endColorstr='#44892d', GradientType=0);
}
div#nextend-accordion-menu-526 dl.level2 dt.active span,
div#nextend-accordion-menu-526 dl.level2 dt.active span span,
div#nextend-accordion-menu-526 dl.level2 dt.active a,
div#nextend-accordion-menu-526 dl.level2 dt.active a span {
  d: ;color: #282828;font-size:12px;text-shadow: 1px 1px 1px RGBA(0,0,0,1);font-family: 'Arimo',Arial;line-height: 20px;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;;
}
div#nextend-accordion-menu-526 dl.level2 dt:HOVER .nextend-productnum {
  background: #4f4544;
}
div#nextend-accordion-menu-526 dl.level2 dt:HOVER {
  background: #4f4544;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#4f4544),color-stop(1,#6d6260));
  background: -ms-linear-gradient(bottom,#4f4544,#6d6260);
  background: -moz-linear-gradient(center bottom,#4f4544 0%,#6d6260 100%);
  background: -o-linear-gradient(#6d6260,#4f4544);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d6260', endColorstr='#4f4544', GradientType=0);
}
div#nextend-accordion-menu-526 dl.level2 dt:HOVER span,
div#nextend-accordion-menu-526 dl.level2 dt:HOVER span span,
div#nextend-accordion-menu-526 dl.level2 dt:HOVER a,
div#nextend-accordion-menu-526 dl.level2 dt:HOVER a span {
  d: ;color: #559222;font-size:12px;text-shadow: 1px 1px 1px RGBA(0,0,0,1);font-family: 'Arimo',Arial;line-height: 20px;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;;
}
div#nextend-accordion-menu-526 dl.level2 .inner {
  padding: 3px 14px 3px 26px ;
  margin: 4px 4px 4px 12px ;
}
div#nextend-accordion-menu-526.noscript dl.level3 dt.parent .inner {
  background-image: url(https://barteronly.com/media/nextend/cache/image/n1492624800/colorizebfc4c74f06fe3237bb1eeca2a3c3fd16ffffffff548722.png);
}
div#nextend-accordion-menu-526 dl.level3 dt.parent .inner {
  background-image: url(https://barteronly.com/media/nextend/cache/image/n1492624800/colorize065118121675f84b0875b855507cb17affffffff548722.png);
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
}
div#nextend-accordion-menu-526 dl.level3 dt.parent.opened .inner,
div#nextend-accordion-menu-526 dl.level3 dt.parent.opening .inner {
  background-image: url(https://barteronly.com/media/nextend/cache/image/n1492624800/colorizebfc4c74f06fe3237bb1eeca2a3c3fd16ffffffff548722.png);
}
div#nextend-accordion-menu-526 dl.level3 dt {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: none repeat 0 0;
  margin: 4px 4px 0 4px;
}
div#nextend-accordion-menu-526 dl.level3 dt.last {
  margin-bottom: 4px;
  margin-bottom: 0;
}
div#nextend-accordion-menu-526 dl.level3 dt span {
  d: ;color: #ffffff;font-size:12px;text-shadow: none;font-family: 'Arimo',Arial;line-height: 20px;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;;
}
div#nextend-accordion-menu-526 dl.level3 dt a,
div#nextend-accordion-menu-526 dl.level3 dt a span {
  d: ;color: #ffffff;font-size:12px;text-shadow: 1px 1px 1px RGBA(0,0,0,1);font-family: 'Arimo',Arial;line-height: 20px;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;;
}
div#nextend-accordion-menu-526 dl.level3 dt,
div#nextend-accordion-menu-526 dl.level3 dt:HOVER,
div#nextend-accordion-menu-526 dl.level3 dt.opening,
div#nextend-accordion-menu-526 dl.level3 dt.opened,
div#nextend-accordion-menu-526 dl.level3 dt.active {
  background: none;
  filter: none;
  background: #665656;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#665656),color-stop(1,#756666));
  background: -ms-linear-gradient(bottom,#665656,#756666);
  background: -moz-linear-gradient(center bottom,#665656 0%,#756666 100%);
  background: -o-linear-gradient(#756666,#665656);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#756666', endColorstr='#665656', GradientType=0);
}
div#nextend-accordion-menu-526 dl.level3 dt .nextend-productnum,
div#nextend-accordion-menu-526 dl.level3 dt:HOVER .nextend-productnum,
div#nextend-accordion-menu-526 dl.level3 dt.opening .nextend-productnum,
div#nextend-accordion-menu-526 dl.level3 dt.opened .nextend-productnum,
div#nextend-accordion-menu-526 dl.level3 dt.active .nextend-productnum {
  background: #665656;
}
div#nextend-accordion-menu-526 dl.level3 dt.opening .nextend-productnum,
div#nextend-accordion-menu-526 dl.level3 dt.opened .nextend-productnum {
  background: #65af03;
}
div#nextend-accordion-menu-526 dl.level3 dt.opening,
div#nextend-accordion-menu-526 dl.level3 dt.opened {
  background: #65af03;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#65af03),color-stop(1,#72bc0b));
  background: -ms-linear-gradient(bottom,#65af03,#72bc0b);
  background: -moz-linear-gradient(center bottom,#65af03 0%,#72bc0b 100%);
  background: -o-linear-gradient(#72bc0b,#65af03);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72bc0b', endColorstr='#65af03', GradientType=0);
}
div#nextend-accordion-menu-526 dl.level3 dt.active .nextend-productnum {
  background: #3f3434;
}
div#nextend-accordion-menu-526 dl.level3 dt.active {
  background: #3f3434;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#3f3434),color-stop(1,#605050));
  background: -ms-linear-gradient(bottom,#3f3434,#605050);
  background: -moz-linear-gradient(center bottom,#3f3434 0%,#605050 100%);
  background: -o-linear-gradient(#605050,#3f3434);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#605050', endColorstr='#3f3434', GradientType=0);
}
div#nextend-accordion-menu-526 dl.level3 dt.active span,
div#nextend-accordion-menu-526 dl.level3 dt.active span span,
div#nextend-accordion-menu-526 dl.level3 dt.active a,
div#nextend-accordion-menu-526 dl.level3 dt.active a span {
  d: ;color: #282828;font-size:12px;text-shadow: none;font-family: 'Arimo',Arial;line-height: 20px;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;;
}
div#nextend-accordion-menu-526 dl.level3 dt:HOVER .nextend-productnum {
  background: #3b7501;
}
div#nextend-accordion-menu-526 dl.level3 dt:HOVER {
  background: #3b7501;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#3b7501),color-stop(1,#5ab201));
  background: -ms-linear-gradient(bottom,#3b7501,#5ab201);
  background: -moz-linear-gradient(center bottom,#3b7501 0%,#5ab201 100%);
  background: -o-linear-gradient(#5ab201,#3b7501);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5ab201', endColorstr='#3b7501', GradientType=0);
}
div#nextend-accordion-menu-526 dl.level3 dt:HOVER span,
div#nextend-accordion-menu-526 dl.level3 dt:HOVER span span,
div#nextend-accordion-menu-526 dl.level3 dt:HOVER a,
div#nextend-accordion-menu-526 dl.level3 dt:HOVER a span {
  d: ;color: #282828;font-size:12px;text-shadow: none;font-family: 'Arimo',Arial;line-height: 20px;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;;
}
div#nextend-accordion-menu-526 dl.level3 .inner {
  padding: 3px 14px 3px 15px ;
  margin: 4px 4px 4px 30px ;
}
div#nextend-accordion-menu-526.noscript dl.level4 dt.parent .inner {
  background-image: url(https://barteronly.com/media/nextend/cache/image/n1492624800/colorizebfc4c74f06fe3237bb1eeca2a3c3fd16282828ff548722.png);
}
div#nextend-accordion-menu-526 dl.level4 dt.parent .inner {
  background-image: url(https://barteronly.com/media/nextend/cache/image/n1492624800/colorize065118121675f84b0875b855507cb17a282828ff548722.png);
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
}
div#nextend-accordion-menu-526 dl.level4 dt.parent.opened .inner,
div#nextend-accordion-menu-526 dl.level4 dt.parent.opening .inner {
  background-image: url(https://barteronly.com/media/nextend/cache/image/n1492624800/colorizebfc4c74f06fe3237bb1eeca2a3c3fd16282828ff548722.png);
}
div#nextend-accordion-menu-526 dl.level4 dt {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: none repeat 0 0;
  margin: 4px 4px 0 4px;
}
div#nextend-accordion-menu-526 dl.level4 dt.last {
  margin-bottom: 4px;
  margin-bottom: 0;
}
div#nextend-accordion-menu-526 dl.level4 dt span {
  d: ;color: #474747;font-size:12px;text-shadow: none;font-family: 'Arimo',Arial;line-height: 20px;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;;
}
div#nextend-accordion-menu-526 dl.level4 dt a,
div#nextend-accordion-menu-526 dl.level4 dt a span {
  d: ;color: #474747;font-size:12px;text-shadow: none;font-family: 'Arimo',Arial;line-height: 20px;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;;
}
div#nextend-accordion-menu-526 dl.level4 dt,
div#nextend-accordion-menu-526 dl.level4 dt:HOVER,
div#nextend-accordion-menu-526 dl.level4 dt.opening,
div#nextend-accordion-menu-526 dl.level4 dt.opened,
div#nextend-accordion-menu-526 dl.level4 dt.active {
  background: none;
  filter: none;
}
div#nextend-accordion-menu-526 dl.level4 dt .nextend-productnum,
div#nextend-accordion-menu-526 dl.level4 dt:HOVER .nextend-productnum,
div#nextend-accordion-menu-526 dl.level4 dt.opening .nextend-productnum,
div#nextend-accordion-menu-526 dl.level4 dt.opened .nextend-productnum,
div#nextend-accordion-menu-526 dl.level4 dt.active .nextend-productnum {
  background: #E9E9E9;
}
div#nextend-accordion-menu-526 dl.level4 dt.opening .nextend-productnum,
div#nextend-accordion-menu-526 dl.level4 dt.opened .nextend-productnum {
  background: #E9E9E9;
}
div#nextend-accordion-menu-526 dl.level4 dt.active .nextend-productnum {
  background: #E9E9E9;
}
div#nextend-accordion-menu-526 dl.level4 dt.active span,
div#nextend-accordion-menu-526 dl.level4 dt.active span span,
div#nextend-accordion-menu-526 dl.level4 dt.active a,
div#nextend-accordion-menu-526 dl.level4 dt.active a span {
  d: ;color: #282828;font-size:12px;text-shadow: none;font-family: 'Arimo',Arial;line-height: 20px;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;;
}
div#nextend-accordion-menu-526 dl.level4 dt:HOVER .nextend-productnum {
  background: #E9E9E9;
}
div#nextend-accordion-menu-526 dl.level4 dt:HOVER span,
div#nextend-accordion-menu-526 dl.level4 dt:HOVER span span,
div#nextend-accordion-menu-526 dl.level4 dt:HOVER a,
div#nextend-accordion-menu-526 dl.level4 dt:HOVER a span {
  d: ;color: #282828;font-size:12px;text-shadow: none;font-family: 'Arimo',Arial;line-height: 20px;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;;
}
div#nextend-accordion-menu-526 dl.level4 .inner {
  padding: 1px 19px 0px 40px ;
  margin: 0px 6px 0px 0px ;
}
div#nextend-accordion-menu-526.noscript dl.level5 dt.parent .inner {
  background-image: url(https://barteronly.com/media/nextend/cache/image/n1492624800/colorizebfc4c74f06fe3237bb1eeca2a3c3fd16282828ff548722.png);
}
div#nextend-accordion-menu-526 dl.level5 dt.parent .inner {
  background-image: url(https://barteronly.com/media/nextend/cache/image/n1492624800/colorize065118121675f84b0875b855507cb17a282828ff548722.png);
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
}
div#nextend-accordion-menu-526 dl.level5 dt.parent.opened .inner,
div#nextend-accordion-menu-526 dl.level5 dt.parent.opening .inner {
  background-image: url(https://barteronly.com/media/nextend/cache/image/n1492624800/colorizebfc4c74f06fe3237bb1eeca2a3c3fd16282828ff548722.png);
}
div#nextend-accordion-menu-526 dl.level5 dt {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: none repeat 0 0;
  margin: 4px 4px 0 4px;
}
div#nextend-accordion-menu-526 dl.level5 dt.last {
  margin-bottom: 4px;
  margin-bottom: 0;
}
div#nextend-accordion-menu-526 dl.level5 dt span {
  d: ;color: #474747;font-size:12px;text-shadow: none;font-family: 'Arimo',Arial;line-height: 20px;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;;
}
div#nextend-accordion-menu-526 dl.level5 dt a,
div#nextend-accordion-menu-526 dl.level5 dt a span {
  d: ;color: #474747;font-size:12px;text-shadow: none;font-family: 'Arimo',Arial;line-height: 20px;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;;
}
div#nextend-accordion-menu-526 dl.level5 dt,
div#nextend-accordion-menu-526 dl.level5 dt:HOVER,
div#nextend-accordion-menu-526 dl.level5 dt.opening,
div#nextend-accordion-menu-526 dl.level5 dt.opened,
div#nextend-accordion-menu-526 dl.level5 dt.active {
  background: none;
  filter: none;
}
div#nextend-accordion-menu-526 dl.level5 dt .nextend-productnum,
div#nextend-accordion-menu-526 dl.level5 dt:HOVER .nextend-productnum,
div#nextend-accordion-menu-526 dl.level5 dt.opening .nextend-productnum,
div#nextend-accordion-menu-526 dl.level5 dt.opened .nextend-productnum,
div#nextend-accordion-menu-526 dl.level5 dt.active .nextend-productnum {
  background: #E9E9E9;
}
div#nextend-accordion-menu-526 dl.level5 dt.opening .nextend-productnum,
div#nextend-accordion-menu-526 dl.level5 dt.opened .nextend-productnum {
  background: #E9E9E9;
}
div#nextend-accordion-menu-526 dl.level5 dt.active .nextend-productnum {
  background: #E9E9E9;
}
div#nextend-accordion-menu-526 dl.level5 dt.active span,
div#nextend-accordion-menu-526 dl.level5 dt.active span span,
div#nextend-accordion-menu-526 dl.level5 dt.active a,
div#nextend-accordion-menu-526 dl.level5 dt.active a span {
  d: ;color: #282828;font-size:12px;text-shadow: none;font-family: 'Arimo',Arial;line-height: 20px;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;;
}
div#nextend-accordion-menu-526 dl.level5 dt:HOVER .nextend-productnum {
  background: #E9E9E9;
}
div#nextend-accordion-menu-526 dl.level5 dt:HOVER span,
div#nextend-accordion-menu-526 dl.level5 dt:HOVER span span,
div#nextend-accordion-menu-526 dl.level5 dt:HOVER a,
div#nextend-accordion-menu-526 dl.level5 dt:HOVER a span {
  d: ;color: #282828;font-size:12px;text-shadow: none;font-family: 'Arimo',Arial;line-height: 20px;font-weight: bold;font-style: normal;text-decoration: none;text-align: left;;
}
div#nextend-accordion-menu-526 dl.level5 .inner {
  padding: 1px 19px 0px 55px ;
  margin: 0px 6px 0px 0px ;
}
